<div>
  <div id="map" style='width: 100%; height: 400px;'>
    <iframe
      src="https://www.google.com/maps/d/u/2/embed?mid=15GH1TZoGMDVAMyHgr3TaBzfMiUA"
      width='100%' height="100%">
    </iframe>
    <!-- <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTloBQpay1SacC1wrs094rOJY0aMcPTAw&callback=initMap">
    </script> -->
  </div>
</div>
