// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
$skinActiveColor: #65b1bc;
$skinHeaderBck: #65b1bc;
$panelHeaderBck: #65b1bc;
$skinLogo: url("boat-icon.png") no-repeat 0 0;

@import "active_skin";
div.cke_inner.cke_reset {
  float:left;
  margin-left: 20%;
  width:80%;
}


.delete_btn {
  display: inline;
  vertical-align: top;
  text-decoration: none;
  color: white;
  background-color: red;
  padding:5px;
  position: absolute;
  margin-left: -10px;
}

.form_additional_field {
  display:inline-block;
  margin-left: 21%;
  padding-right: 10%;
}

.cke_chrome {
  border: 0px !important;
}

h1#site_title.site_title {
  text-indent: initial;
  padding-left: 25px;
  font-size: 200%;
}

#title_bar .action_items span.action_item > a {
  font-size: 125%;
}

span.action_items {
  font-size: 125%;
}

 #header ul.tabs > li > a {
  font-size: 125%;
}

 // .panel > h3,
 // #main_content > div > div.column > div > div > ul > li > a {
 //   font-size: 125%;
 // }

#main_content > div > div > div > div > div > span > a > img {
  padding: 20px;
}
// log in page
#login > h2 {
  font-size: 125%;
}

#admin_user_email_input, #admin_user_password_input, #admin_user_remember_me_input, #session_new > fieldset.actions  {
  font-size: 125%;
}
// admin user index page
// #index_table_admin_users > thead > tr > th > a, #admin_user_1 > td {
//   font-size: 125%;
// }
// article index page
// #index_table_articles {
//   font-size: 125%;
// }
// new article page
// #new_article > fieldset.inputs {
//   font-size: 125%;
// }
// #article_submit_action {
//   font-size: 125%;
// }
// edit article page
// #edit_article_10 > fieldset {
//   font-size: 125%;
// }

#active_admin_content {
  font-size: 125% ;
}
