// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

div.cke_inner.cke_reset {
  float:left;
  margin-left: 20%;
  width:80%;
}

.delete_btn {
  display: inline;
  vertical-align: top;
  text-decoration: none;
  color: white;
  background-color: red;
  padding:5px;
  position: absolute;
  margin-left: -10px;
}

.form_additional_field {
  display:inline-block;
  margin-left: 21%;
  padding-right: 10%;
}

.cke_chrome {
  border: 0px !important;
}
